<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nafanya.mp3world">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Mp3world"
        android:requestLegacyExternalStorage="true"
        android:name=".core.di.PlayerApplication"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".presentation.entrypoint.InitialActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.entrypoint.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mp3world.Launcher"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".presentation.all_songs.AllSongsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.user_playlists.view_playlists.AllPlaylistsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.playlist.immutable_playlist.ImmutablePlaylistActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.user_playlists.modify_playlist.ModifyPlaylistActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.user_playlists.mutable_playlist.MutablePlaylistActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.artists.ArtistListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.albums.AlbumListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.favourites.FavouritesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.remote_songs.RemoteSongsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.player_view.FullScreenPlayerActivity"
            android:screenOrientation="portrait"/>
        <service android:name=".presentation.foreground_service.ForegroundService" />
    </application>
</manifest>