<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nafanya.mp3world">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Mp3world"
        android:requestLegacyExternalStorage="true"
        android:name=".core.di.PlayerApplication">
        <activity
            android:name=".core.entrypoint.InitialActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.entrypoint.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mp3world.Launcher"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".features.playlists.playlistsList.view.PlaylistListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".features.playlists.playlistsList.view.AddPlaylistDialogActivity"
            android:exported="true"
            android:theme="@style/Theme.CreatePlaylistDialog"/>
        <activity android:name=".features.playlists.playlist.view.CurrentPlaylistDialogActivity"
            android:exported="true"
            android:theme="@style/Theme.CurrentPlaylistDialog"/>
        <activity android:name=".features.playlists.playlistsList.view.DeletePlaylistDialogActivity"
            android:exported="true"
            android:theme="@style/Theme.CreatePlaylistDialog"/>
        <activity android:name=".features.playlists.playlist.view.AddSongToListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".features.playlists.playlist.view.PlaylistActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".features.artists.view.ArtistListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".features.albums.view.AlbumListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".features.searching.view.SearchSongListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".features.favorites.view.FavouriteListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".features.statistics.StatisticActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".features.playerView.view.FullScreenPlayerActivity"
            android:screenOrientation="portrait"/>
        <service android:name=".features.foregroundService.ForegroundService" />
        <service android:name=".features.foregroundService.ServiceInitializer" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>