<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nafanya.mp3world">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".model.dependencies.PlayerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mp3world"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".view.listActivities.songs.SongListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.listActivities.playlists.PlaylistListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.listActivities.playlists.AddPlaylistDialogActivity"
            android:exported="true"
            android:theme="@style/Theme.CreatePlaylistDialog"/>
        <activity android:name=".view.listActivities.playlists.CurrentPlaylistDialogActivity"
            android:exported="true"
            android:theme="@style/Theme.CurrentPlaylistDialog"/>
        <activity android:name=".view.listActivities.playlists.DeletePlaylistDialogActivity"
            android:exported="true"
            android:theme="@style/Theme.CreatePlaylistDialog"/>
        <activity android:name=".view.listActivities.playlists.AddSongToListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.listActivities.playlists.PlaylistActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.listActivities.artists.ArtistListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.listActivities.albums.AlbumListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.listActivities.search.SearchSongListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.listActivities.favourite.FavouriteListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.listActivities.statistic.StatisticActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.playerViews.FullScreenPlayerActivity"
            android:screenOrientation="portrait"/>
        <service android:name=".model.foregroundService.ForegroundService" />
        <service android:name=".model.foregroundService.ServiceInitializer" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>